<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Pagina lucratorului</title>
        <link rel="stylesheet" type="text/css" href="./css/common.css">
        <link rel="stylesheet" type="text/css" href="./css/stage-one-style.css">
        <script src="./js/stage-one.js"></script>
    </head>
    <body>
        <div class="title-holder">
            <h1 class="title">Salut {{.WorkerName}}</h1>
            <a class="title-link" href="/log-out">Log out</a>
        </div>

        <div id="status-holder">
            <h1 id="status">Statusul tau: {{.Status}}</h1>
            <h1 id="today-worked">Astazi ai lucrat: {{.WorkedTime}}</h1>
            <h1 id="overtime">Total suplimentar: {{.Overtime}}</h1>
        </div>
        <br>
        <br>
        <div class="title-holder">
            <h2 class="title">Raportul lunii in curs:</h2>
        </div>
        
        <span id="table-view-type" onclick="changeTableView()">Vizualizare detaliata</span>
        <span id="add-workday" onclick="showModal()">Adauga zi</span>

        <table id="detailed-table">
            <tr>
                <th>Nr Germania</th>
                <th>Nr Romania</th>
                <th>Descriere</th>
                <th>Inceput</th>
                <th>Sfarsit</th>
                <th>Timp lucrat</th>
            </tr>
            {{range $k, $v := .TimeReport}}
                <tr>
                    {{range $vValue := $v}}
                        <td>{{$vValue}}</td>
                    {{end}}
                </tr>
            {{end}}
        </table>

        <table id="standard-table">
            <tr>
                <th>Proiect\Data</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>
                <th>19</th>
                <th>20</th>
                <th>21</th>
                <th>22</th>
                <th>23</th>
                <th>24</th>
                <th>25</th>
                <th>26</th>
                <th>27</th>
                <th>28</th>
                <th>29</th>
                <th>30</th>
                <th>31</th>
            </tr>
            {{range $k, $v := .StandardTimeReport}}
                <tr>
                    <td>{{$k}}</td>
                    {{range $vValue := $v}}
                        <td>{{$vValue}}</td>
                    {{end}}
                </tr>
            {{end}}
        </table>
        <br>
        <br>
        <br>
        <div id="addWorkday" class="modal">
            <div class="modal-content-holder">
                <div class="modal-header">
                    <h2 class="modal-title">Adauga zi lucrata:</h2>
                    <span class="close-modal" onclick="closeModal()">&times;</span>
                </div>
                <div id="modal-body">
                    <form id="new-workday-form" method="GET" action="/">
                        <fieldset>
                            <legend>Toate campurile sunt obligatorii</legend>

                            <label for="projects">Selecteaza proiectul:</label><br>
                            <select id="projects" name="projects" required>
                            {{range $project := .ActiveProjects}}
                                <option value="{{$project.ID}}">{{$project.GeNumber}} ({{$project.RoNumber}})</option>
                            {{end}}
                            </select>
                            <br>
                            
                            <label for="day">Alege data:</label>
                            <br>
                            <input id="day" type="date" name="day" required>
                            <br>
                            <label for="startHour">Ora inceput:</label>
                            <br>
                            <input id="start-hour" type="number" name="startHour" min="00" max="23" required pattern="[0-9]{2}"> : 
                            <input id="start-minute" type="number" name="startMinute" min="00" max="59" required pattern="[0-9]{2}">
                            <br>
                            <label for="stop-hour">Ora sfarsit:</label>
                            <br>
                            <input id="stop-hour" type="number" name="stopHour" min="00" max="23" required pattern="[0-9]{2}"> : 
                            <input id="stop-minute" type="number" name="stopMinute" min="00" max="59" required pattern="[0-9]{2}">
                            <br>
                        </fieldset>
                        <div class="modal-footer">
                            <button type="submit">Salveaza</button>
                            <button class="cancel-modal" type="reset" onclick="closeModal()">Anuleaza</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
