<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Gestiune proiecte si lucratori</title>
        <link rel="stylesheet" type="text/css" href="./css/common.css">
        <link rel="stylesheet" type="text/css" href="./css/stage-two-style.css">
        <script src="./js/stage-two.js"></script>
    </head>
    <body>
        <div class="title-holder">
            <h1 class="title">Gestiunea proiectelor si lucratorilor</h1>
            <a class="title-link" href="/log-out">Log out</a>
        </div>
        <br>
        <br>
        <div class="title-holder">
            <h2 class="title">Proiecte active</h2>
            <span class="title-link" onclick="showAddProjectModal()">Adauga proiect</span>
        </div>
        <br>
        <table>
            <tr>
                <th>Id</th>
                <th>Nr Germania</th>
                <th>Nr Romania</th>
                <th>Descriere</th>
                <th>Id dispozitiv</th>
                <th>Data inceput</th>
                <th>Editare</th>
            </tr>
            {{range $project := .ActiveProjects}}
                <tr>
                    <td>{{$project.ID}}</td></a>
                    <td>{{$project.GeNumber}}</td>
                    <td>{{$project.RoNumber}}</td>
                    <td>{{$project.Description}}</td>
                    <td>{{$project.DeviceID}}</td>
                    <td>{{$project.Begin}}</td>
                    <td><a href="/?action=editProject&project={{$project.ID}}">Edit</a></td>
                </tr>
            {{end}}
        </table>
        <br>
        <div class="title-holder">
            <h2 class="title">Lucratori</h2>
            <span class="title-link" onclick="addWorker()">Adauga lucrator</span>
        </div>
        <br>
        <table>
            <tr>
                <th>Id</th>
                <th>Prenume</th>
                <th>Nume</th>
                <th>Numar card</th>
                <th>Pozitia ocupata</th>
                <th>Activ</th>
                <th>Editare</th>
            </tr>
            {{range $worker := .Workers}}
                <tr>
                    <td>{{$worker.ID}}</td>
                    <td>{{$worker.FirstName}}</td>
                    <td>{{$worker.LastName}}</td>
                    <td>{{$worker.CardNumber}}</td>
                    <td>{{$worker.Position}}</td>
                    <td>{{$worker.IsActive}}</td>
                    <td><a href="/?action=editWorker&worker={{$worker.ID}}">Edit</a></td>
                </tr>
            {{end}}
        </table>
        <br>
        <br>
        <div id="addProject" class="modal">
            <div class="modal-content-holder">
                <div class="modal-header">
                    <h2 class="modal-title">Adauga zi lucrata:</h2>
                    <span class="close-modal" onclick="closeAddProjectModal()">&times;</span>
                </div>
                <div id="modal-body">
                    <form id="new-project-form" method="GET" action="/">
                        <fieldset>
                            <legend>Toate campurile sunt obligatorii</legend>
                            <label for="ge-no">Numar Germania:</label>
                            <br>
                            <input type="text" name="ge-no" maxlength="15" required>
                            <br>
                            <label for="ro-no">Numar Romania:</label>
                            <br>
                            <input type="text" name="ro-no" maxlength="20" required>
                            <br>
                            <label for="description">Descriere:</label>
                            <br>
                            <input type="text" name="description" maxlength="100">
                            <br>
                            <label for="start-date">Data inceput:</label>
                            <br>
                            <input type="date" name="start-date" required>
                        </fieldset>
                        <div class="modal-footer">
                            <button type="submit">Salveaza</button>
                            <button class="cancel-workday" type="reset" onclick="closeAddProjectModal()">Anuleaza</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
