<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Gestiune proiecte si lucratori</title>
        <link rel="stylesheet" type="text/css" href="./css/common.css">
        <link rel="stylesheet" type="text/css" href="./css/stage-two-style.css">
    </head>
    <body>
        <div class="title-holder">
            <h1 class="title">Gestiunea proiectelor si lucratorilor</h1>
            <a class="title-link" href="/log-out">Log out</a>
        </div>
        <br>
        <br>
        <div class="title-holder">
            <h2 class="title">Proiecte active</h2>
            <a class="title-link" href="/?action=addProject">Adauga proiect</a>
        </div>
        <br>
        <table>
            <tr>
                <th>Id</th>
                <th>Nr Germania</th>
                <th>Nr Romania</th>
                <th>Descriere</th>
                <th>Id dispozitiv</th>
                <th>Data inceput</th>
                <th>Editare</th>
            </tr>
            {{range $project := .ActiveProjects}}
                <tr>
                    <td>{{$project.ID}}</td></a>
                    <td>{{$project.GeNumber}}</td>
                    <td>{{$project.RoNumber}}</td>
                    <td>{{$project.Description}}</td>
                    <td>{{$project.DeviceID}}</td>
                    <td>{{$project.Begin}}</td>
                    <td><a href="/?action=editProject&project={{$project.ID}}">Edit</a></td>
                </tr>
            {{end}}
        </table>
        <br>
        <div class="title-holder">
            <h2 class="title">Lucratori</h2>
            <a class="title-link" href="/?action=addWorker">Adauga lucrator</a>
        </div>
        <br>
        <table>
            <tr>
                <th>Id</th>
                <th>Prenume</th>
                <th>Nume</th>
                <th>Numar card</th>
                <th>Pozitia ocupata</th>
                <th>Activ</th>
                <th>Editare</th>
            </tr>
            {{range $worker := .Workers}}
                <tr>
                    <td>{{$worker.ID}}</td>
                    <td>{{$worker.FirstName}}</td>
                    <td>{{$worker.LastName}}</td>
                    <td>{{$worker.CardNumber}}</td>
                    <td>{{$worker.Position}}</td>
                    <td>{{$worker.IsActive}}</td>
                    <td><a href="/?action=editWorker&worker={{$worker.ID}}">Edit</a></td>
                </tr>
            {{end}}
        </table>
        <br>
        <br>
    </body>
</html>
