<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Pagina lucratorului</title>
        <link rel="stylesheet" type="text/css" href="./css/common.css">
        <link rel="stylesheet" type="text/css" href="./css/stage-one-style.css">
        <script src="./js/stage-one.js"></script>
    </head>

    <body>
        <div class="title-holder">
            <h1 class="title">Salut {{.Worker.FirstName}} {{.Worker.LastName}}</h1>
            <a class="title-link" href="/logout">Log out</a>
        </div>

        <br>

        <div class="tabs">
            <div class="passive-tab" onclick="location.href='/index';">Status</div>
            <div class="active-tab">Vizualizare detaliata</div>
            <div class="passive-tab" onclick="location.href='/index?view=standard-view';">Vizualizare standard</div>
            <div class="passive-tab" onclick="location.href='/index?view=add-workday';">Adauga zi lucrata</div>
            <div class="passive-tab" onclick="location.href='/index?view=free-days';">Zile libere</div>
            <div class="white-divisor"></div>
        </div>

        <div class="title-holder">
            <h2 class="title">Raportul lunii in curs:</h2>
        </div>

        <table id="detailed-table">
            <tr>
                <th>Nr Germania</th>
                <th>Nr Romania</th>
                <th>Descriere</th>
                <th>Inceput</th>
                <th>Sfarsit</th>
                <th>Timp lucrat</th>
            </tr>
            {{range $k, $v := .TimeReport}}
                <tr>
                    {{range $vValue := $v}}
                        <td>{{$vValue}}</td>
                    {{end}}
                </tr>
            {{end}}
        </table>

        <br><br><br><br>

    </body>
</html>