<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Pagina lucratorului</title>
        <link rel="stylesheet" type="text/css" href="./css/common.css">
        <link rel="stylesheet" type="text/css" href="./css/stage-one-style.css">
        <script src="./js/stage-one.js"></script>
    </head>

    <body>
        <div class="title-holder">
            <h1 class="title">Salut {{.Worker.FirstName}} {{.Worker.LastName}}</h1>
            <a class="title-link" href="/log-out">Log out</a>
        </div>

        <br><br>

        <div class="tabs">
            <div class="passive-tab" onclick="location.href='/';">Status</div>
            <div class="passive-tab" onclick="location.href='/?view=detailed-view';">Vizualizare detaliata</div>
            <div class="passive-tab" onclick="location.href='/?view=standard-view';">Vizualizare standard</div>
            <div class="passive-tab" onclick="location.href='/?view=add-workday';">Adauga zi lucrata</div>
            <div class="active-tab">Zile libere</div>
            <div class="white-divisor"></div>
        </div>

        <div class="free-days-holder">
            <h2 class="free-days-title">Zile libere</h2>
            {{range $day:=.FreeDays}}
                <span>{{$day}}</span>
                <br>
            {{end}}
        </div>

        <div class="white-divisor"></div>
        <br><br>

    </body>
</html>