#status {
    margin-top: 100px;
}

#status, #today-worked, #overtime {
    text-align: center;
    color: #d9d9d9;
    text-shadow: 2px 2px #353535;
}

#table-view-type, #add-workday {
    display: inline-block;
    background-color: #3c6e71;
    color: #d9d9d9;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
    box-shadow: 5px 10px #353535;
    max-width: max-content;
    cursor: pointer;
}

#table-view-type:hover, #add-workday:hover {
    box-shadow: none;
}   

#standard-table {
    display: none;
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

#modal-content-holder {
    max-width: 600px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000000;
    box-shadow: 5px 5px #000000;
    background-color: #284b63;
    padding: 20px;
}

#modal-title {
    margin: 0px;
    display: inline-block;
}

#close-modal {
    float: right;
    cursor: pointer;
}

fieldset {
    margin-top: 30px;
    padding: 20px;
}

#projects {
    margin-bottom: 20px;
    height: 35px;
}

#day {
    margin-bottom: 20px;
    height: 35px;
}

#start-hour, #start-minute {
    margin-bottom: 20px;
}

#start-hour, #start-minute, #stop-hour, #stop-minute {
    width: 50px;
}

#modal-footer {
    padding-top: 20px;
}

#cancel-workday {
    float: right;
}
