#status-holder {
    padding: 100px;
    background-color: #284b63;
}

#status, #today-worked, #overtime, #break {
    text-align: center;
    color: #d9d9d9;
    text-shadow: 2px 2px #353535;
}

#table-view-type, #add-workday {
    display: inline-block;
    background-color: #3c6e71;
    color: #d9d9d9;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
    box-shadow: 5px 10px #353535;
    max-width: max-content;
    cursor: pointer;
}

#table-view-type:hover, #add-workday:hover {
    box-shadow: none;
}

#projects {
    margin-bottom: 20px;
    height: 35px;
}

#day {
    margin-bottom: 20px;
    height: 35px;
}

#start-hour, #start-minute {
    margin-bottom: 20px;
}

#start-hour, #start-minute, #stop-hour, #stop-minute {
    width: 50px;
}

.add-workday-holder {
    color: white;
    min-width: 600px;
    border: 1px solid #000000;
    background-color: #284b63;
    padding: 20px;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.add-workday-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.add-workday-footer {
    padding: 20px;
}
