#status {
    margin-top: 100px;
}

#status, #today-worked, #overtime {
    text-align: center;
    color: #d9d9d9;
    text-shadow: 2px 2px #353535;
}

#table-view-type, #add-workday {
    display: inline-block;
    background-color: #3c6e71;
    color: #d9d9d9;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
    box-shadow: 5px 10px #353535;
    max-width: max-content;
    cursor: pointer;
}

#table-view-type:hover, #add-workday:hover {
    box-shadow: none;
}   

#standard-table {
    display: none;
}

#projects {
    margin-bottom: 20px;
    height: 35px;
}

#day {
    margin-bottom: 20px;
    height: 35px;
}

#start-hour, #start-minute {
    margin-bottom: 20px;
}

#start-hour, #start-minute, #stop-hour, #stop-minute {
    width: 50px;
}
