<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Gestiune activitati curente</title>
        <link rel="stylesheet" type="text/css" href="./css/common.css">
        <link rel="stylesheet" type="text/css" href="./css/stage-three-style.css">
    </head>
    <body>
        <div class="title-holder">
            <h1 class="title">Activitati curente & statistici</h1>
            <a class="title-link" href="/logout">Log out</a>
        </div>
        <br>

        <div class="title-holder">
            <h2 class="title">Lucratori activi</h2>
        </div>
        
        <table id="activeWorkdays">
            <tr>
                <th>Nume</th>
                <th>Proiect</th>
                <th>Timp inceput</th>
                <th>Total lucrat azi</th>
                <th>Status lucrator</th>
            </tr>
            {{range $k,$v:=.}}
                <tr>
                    <td>{{$k}}</td>
                    {{range $s := $v}} 
                        <td>{{$s}}</td>
                    {{end}}
                </tr> 
            {{end}}
        </table>
    </body>
</html>
